.snail1 {
    fill:#002cc0
}

.snail2 {
    fill:#0034e0
}

.snail3 {
    fill:#013cff
}

.snail4 {
    fill:#0035e0
}

.snail5 {
    fill:#416dff
}

.snail6 {
    fill:#2155ff
}

.snail7 {
    fill:#2155ff
}

.snail8 {
    fill:#416eff
}

.snail9 {
    fill:#6187ff
}

.snail10 {
    fill:#819fff
}

.body {
    fill:#111
}